:root {
    --color-1: white;
    --color-2: #3347b0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header*/

header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-2);
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
}

.logo-sair {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: auto;
    width: 150px;
}

.sair img {
    height: auto;
    width: 50px;
}

.sair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--color-1);
    font-size: 35px;
    font-weight: 400;
}

/* Main */

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 80px 20px;
}

.escolha {
    display: flex;
    gap: 5vw;
}

.escolha div {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1 {
  font-size: 60px;  
  font-weight: 300;
}

h1 span {
    color: var(--color-2);
    font-weight: 500;
}

#cursos {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#cursos button {
    background-color: var(--color-2);
    color: var(--color-1);
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 30px;
    border: 1px solid black;
    box-shadow: 13px 13px 5px rgba(51, 72, 176, 0.44);
    transition: 0.3s;
}

#cursos button:active {
    transform: scale(0.95);
}

/* Footer */

footer {
    color: var(--color-1);
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 80px;
}

footer h2 {
    font-weight: 200;
    font-size: 20px;
}

.contatos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contatos span {
    display: flex;
    align-items: center;
    gap: 20px;
}

.redes-sociais {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {

    a span {
      display: none;  
    }

    header {
        padding: 10px 30px;
    }

    .logo {
        width: 130px;
    }

    .sair img {
        width: 30px;
    }

    /* Main */

    main {
        flex-direction: column;
    }

    .escolha {
        flex-direction: column;
        gap: 50px;
    }

    .escolha div {
        flex-direction: column;
    }

    .aparelhos {
        display: none;
    }

    h1 {
        font-size: 40px;  
        text-align: center;
    }

    #cursos {
        gap: 60px;
    }

    button img {
        display: none;
    }

    /* Footer */

    footer {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    footer h2 {
        font-size: 16px;
        position: relative;
        bottom: -80px;
        white-space: nowrap;
    }

    .contatos {
        width: 100vw;
        align-items: center;
    }

    .redes-sociais {
        position: relative;
        bottom: 50px;
    }
}